<?xml version="1.0" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LightSwitchApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="SubsystemsPackage" value="RuntimeLoaders;BaseServicesLoader"/>
      <add key="UserCodeComponentsFolder" value="UserCode" />
    </appSettings>
    <connectionStrings>
        <add name="LightSwitchConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|\Data\DevelopmentDatabase.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True;Pooling=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <trust level="Full"/>
    <authentication mode="None"></authentication>
  </system.web>
  <applicationSettings>
    <LightSwitchApplication.Properties.Settings>
      <setting name="SMTPServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="SMTPUserID" serializeAs="String">
        <value>yonidvirami@gmail.com</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>amidviryoni</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>587</value>
      </setting>
    </LightSwitchApplication.Properties.Settings>
  </applicationSettings>
</configuration>








